									{{ candidate.name }}

Phone: {{ candidate.number }}				{{ candidate.email }}							{{ candidate.linked_in }}

TECHNICAL SKILLS:

CERTIFICATIONS:

{{certif.cert}}

Equipment Implementation Knowledge: 
Security: Wireshark, Linux, Nmap, Metasploit, Bash.
Internetworking:
Cisco Products:		ASR1013, 3945, 3845, Catalyst 2960, 4500, 
Juniper Products: 	MX960, M320 MX960.
Adva Products:		FSP 150, 201, 210
Check Point:		firewall - 13500
Passive Devices:	ODF & DDF panels, Optical Fiber & UTP (CAT5, CAT6) cables, and smart PDUs (Legrand & Server Technology).
Basic Configuration:	Routers (ASR1013 and MX960) OS upgrade. Examine the device hardware status as per design.
Operating System	Linux
Telecommunications: 	2G, 3G, 2G IP-Abis, LTE, SDH, and Microwave technologies.
IT:
Applications: Outlook, WebeX, Shared Drives, Share Points, Citrix, MaaS360
Hardware: HP- Network and local Printers, Pin-pads, MSR, Cash Recyclers.

WORK EXPERIENCE
___________________________________________________________________________________________________________________________________________
Senior IT Support Co-ordinator (Part-time)			                April 2022 to September 2022
 Royal Bank of Canada, Halifax, Canada
.First point of contact for IT related issues for all the RBC employees working in different regions. 
.Resolve issues via calls and chats.
.Manage user’s access privileges for all the RBC applications by unlocking and resetting the passwords. 
.Escalate issues via ServiceNow application to responsible application team if they cannot be resolved.
.Use multiple tools to collect user data and capture troubleshooting steps on the ticket for the escalation team to quickly resolve the issue.  

Technical Delivery Professional			                 		November 2015 to December 2021
 British Telecom, Bangalore, India
.Manage End to End Delivery for IP & Data (Equipment installs) and Transport (Bandwidth order and cease) globally.
.Technically support multiple stakeholders (field, power accommodations, planning, and operations) to achieve project deadlines.
.Perform basic configurations on the new routers and switches and hand them over to the operations team. 
.Manage projects that are in jeopardy for the complete team (total 50 members).
.Perform periodical audit checks at BT datacentres (150+) to maintain engineering standards followed during implementation.
.Work with the inventory management team to stock up the warehouse with passive materials like patch panels, cables, and other passive materials essential for installations as per the network delivery forecast quarterly.
.Perform root cause analysis for failed projects and fix the process and knowledge gaps.
.Lead the team to upskill & cross-skill into IP Data, Transport, and Voice platforms. 
.Travel globally to install equipment and supervise datacentres in absence of field support. 
.Share weekly reports to higher management on the team projects' delivery status.

Integration Engineer (Transmission Planning and Implementation)	           	December 2011 to November 2015
 Ericsson-UK, Guildford, United Kingdom & Ericsson-India, Bangalore, India.

.Own End to End responsibility to provide transmission path for access sites to enable 3G, 4G, and 2G-IP Abis services. 
.Coordinate with multiple stakeholders (Planning, DCN, Circuit Provisioning, field, and operation Teams) to troubleshoot onsite issues by providing resolutions.
.Optimize the existing bandwidth at hub access sites to activate 4G services for the corresponding child sites. 
.Order and manage bandwidths with British Telecom, Virgin media, and 3rd party contractors to deliver the Ethernet.
.Work with the operations team and analyse the existing bandwidth of congested sites and provide resolutions.
.Maintain the database by recording technical details and the site blockers for commissioning services.

AWARDS AND HONORS
____________________________________________________________________________________________________________________________________________________________________________
.Offered Teaching Assistant roles at Dalhousie for outstanding performance in studies.  
.Brilliant award received for delivering the rationalizing project well before the deadline by saving £100,000 (ARC).
.Brilliant award received for reducing 1080 FTE project hours by automating the audit data using VBA coding.
.Appreciations from Director level for performing elite customer migrations work at Dubai Datacentre. 
.Multiple appreciations from higher-level management for commissioning new datacentres overall the globe and enhancing existing processes to increase the delivery KPI values. 
.Multiple promotions for working beyond the limits.
.Recognized by the customer (Ericsson UK) with Star Award for delivering the access sites and enabling 4G and 2G-IP Abis services for the 2014 year.
.Appreciations from the customer for defining new processes by saving £350 for each field visit. (The project had a total of 5000+ sites). 
.Saved surplus amount in provisioning new microwave bandwidth by optimizing the E1’s on the existing links.      

EDUCATION
___________________________________________________________________________________________________________________________________________________________________________
Master of Engineering (MEng) in Internetworking					January 2022 – On-going
 Dalhousie University, Halifax, Nova Scotia, Canada				Grade : A+

Bachelor of Technology								June 2007 to May 2011
 Sri Vasavi Engineering College, Tadepalligudem, India


EDUCATION PROJECTS
__________________________________________________________________________________________________________________________________________________________________________
1) Currently working on Active Directory Exploitation as part of my main project estimated to complete by July,15.
2) Labs to simulate OSPF, BGP, MPLS, Multicast, IP-Sec and DMVPN on a given network topology using VMWare virtually simulated routers on University Datacentre using SSH.
3) Simulated local lab setup using Kali-Linux to perform Information Gathering, Reconnaissance, Discovery and scanning, Vulnerability Assessment and Exploitation using Meta   sploit on local machine.
4) Capturing and packet analysis using Wireshark.
